<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adanxing.ad.user.dao.AlgorithmDao">
    <select id="getDeviceStaticsList" parameterType="java.util.Map" resultType="com.adanxing.ad.user.algorithm.model.DeviceStaticsModel">
        select *
        from algorthim.statics_device_all
        where ad_id = #{adId}
        <if test="orderColumn != null">
            order by ${orderColumn} asc
        </if>
        <if test="limitSize != null">
            limit ${startCount}, ${limitSize}
        </if>
    </select>
    <select id="getBundleStaticsList" parameterType="java.util.Map" resultType="com.adanxing.ad.user.algorithm.model.BundleStaticsModel">
        select *
        from algorthim.statics_bundle_all
        where ad_id = #{adId}
        <if test="orderColumn != null">
            order by ${orderColumn} asc
        </if>
        <if test="limitSize != null">
            limit ${startCount}, ${limitSize}
        </if>
    </select>
    <select id="getBundleStaticsListByTime" parameterType="java.util.Map" resultType="com.adanxing.ad.user.algorithm.model.BundleStaticsModel">
        with
            count() as bid_count,
            countIf(b.request_id!='') as imp_count,
            countIf(b.click_flag=1) as click_count,
            countIf(b.deep_flag=1) as deep_count,
            round(imp_count/bid_count, 2) as imp_rate,
            if(imp_count=0,0,round(click_count/imp_count,4)) as click_rate,
            if(click_count=0,0,round(deep_count/click_count,4)) as deep_rate,
            if(click_count=0,0,round(sum(b.media_win_bid) / click_count / 1000, 2)) as ecpc
        select a.ad_id, a.sub_ad_id, a.bundle, imp_count, click_count, deep_count,now() as log_time
        from (
            select *
            from media.media_result_all mra
            where log_time &gt;= #{startTime} and log_time &lt; #{endTime}
            and ad_id = #{adId}
        ) a global left join (
            select *
            from media.media_imp_all mia
            where last_update_time &gt;= #{startTime} and last_update_time &lt; #{staticsEndTime}
            and ad_id = #{adId}
        ) b on a.request_id = b.request_id
        group by ad_id, sub_ad_id, bundle
    </select>
    <select id="getProjectStaticsListByTime" parameterType="java.util.Map" resultType="com.adanxing.ad.user.algorithm.model.BundleStaticsModel">
        with
            if(b.request_id != '', 1, 0) as imp_flag,
            sum(b.media_win_bid) as sum_media_win_bid
        select a.ad_id, a.sub_ad_id, a.bundle, a.rel_id as ssp_id,
               ROUND(avg(advertiser_bid), 0) as avg_advertiser_bid,
               ROUND(avg(media_bid), 0) as avg_media_bid,
               count() as bid_count,
               countIf(imp_flag=1) as imp_count,
               if(bid_count=0,0,ROUND(imp_count/bid_count,6)) as imp_rate,
               countIf(click_flag=1) as click_count,
               if(imp_count=0,0,ROUND(click_count/imp_count,6)) as click_rate,
               countIf(b.deep_flag=1) as deep_count,
               if(click_count=0,0,round(deep_count/click_count,6)) as deep_rate,
               if(imp_count=0,0,ROUND(sum_media_win_bid/imp_count,0)) as ecpm,
               if(click_count=0,0,ROUND(sum_media_win_bid/click_count/1000,2)) as ecpc,
               now() as log_time
        from (
            select *
            from media.media_result_all mra
            where log_time &gt;= #{startTime} and log_time &lt; #{endTime} and ad_id = #{adId}
        ) a global left join (
            select *
            from media.media_imp_all mia
            where last_update_time &gt;= #{startTime} and last_update_time &lt; #{endTime} and ad_id = #{adId}
        ) b on a.request_id = b.request_id
        group by ad_id, sub_ad_id, bundle, ssp_id
    </select>

    <select id="getAllAdvertiserRelData" parameterType="java.util.Map" resultType="com.adanxing.ad.user.model.AdvertiserRelData">
        select rel_id, imp_count, click_count,  total_media_bid, total_advertiser_bid
        from (
             select rel_id, count() as imp_count, sum(media_bid) as total_media_bid, sum(advertiser_win_price) as total_advertiser_bid
             from (
                      select request_id, last_update_time, rel_id, media_bid, advertiser_win_price
                      from statics_imp_new_all sina
                      where last_update_time &gt;= #{startTime} and last_update_time &lt; #{endTime} and advertiser_id = #{advertiserId}
                      group by request_id, last_update_time, rel_id, media_bid, advertiser_win_price
                      order by request_id asc, request_id asc
                          limit 1 by request_id
                  )
             group by rel_id
         ) a global left join (
            select rel_id, count(distinct(request_id)) as click_count
            from statics_click_new_all scna
            where last_update_time &gt;= #{startTime} and last_update_time &lt; #{endTime} and advertiser_id = #{advertiserId}
            group by rel_id
        ) b on a.rel_id = b.rel_id
    </select>
    <select id="getAdBundleStatics" parameterType="java.util.Map" resultType="com.adanxing.ad.user.algorithm.model.BundleStaticsModel">
        with
            count() as imp_count,
            countIf(click_flag) as click_count,
            sum(ecpc) * 1000 as total_ecpc,
            sum(ecpm) as total_ecpm,
            total_ecpm + total_ecpc as total_bid
        select ad_id, sub_ad_id, bundle, imp_count, click_count, total_bid, 0 as deep_count
        from (
            with
            if(b.request_id != '', 1, 0) as click_flag
            select request_id, sub_ad_id, last_update_time, ad_id, bundle, ecpm, ecpc, click_flag
            from (
                select request_id, sub_ad_id, last_update_time, ad_id, bundle, bid as ecpm
                from statics_imp_new_all sina
                where last_update_time &gt;= #{startTime} and last_update_time &lt; #{staticsEndTime} and ad_id = #{adId}
            ) a global left join (
                select request_id, bid  as ecpc
                from statics_click_new_all scna
                where last_update_time &gt;= #{startTime} and last_update_time &lt; #{staticsEndTime} and ad_id = #{adId}
            ) b on a.request_id = b.request_id
            group by request_id, last_update_time, ad_id, sub_ad_id, bundle, ecpm, ecpc, click_flag
            order by request_id asc, last_update_time asc
            limit 1 by request_id
        )
        group by ad_id, sub_ad_id, bundle
    </select>
</mapper>