<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019 Baidu, Inc. All Rig
  hts Reserved.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adanxing.ad.user.daock1.DeviceInstallAppInfoDao">

    <insert id="insertDeviceInstallAppInfo" parameterType="java.util.Map">
        insert into device.device_install_app_minute_all
        select #{endTime} as log_time,did_type,did,
        arrayStringConcat(groupUniqArray(trust_install_app_ids), ',') AS trust_install_app_ids,
        arrayStringConcat(groupUniqArray(default_install_app_ids), ',') AS default_install_app_ids
        from
        (
            WITH
            left(ad_id, 5) AS media_id
            SELECT
            media_id,did_type,did,
            if(media_id IN (${trustInstallAppMediaIds}), install_app_ids, NULL) AS trust_install_app_ids,
            if(media_id NOT IN (${trustInstallAppMediaIds}), install_app_ids, NULL) AS default_install_app_ids
            FROM `default`.${tableName} rla
            WHERE log_time &gt;=#{startTime} AND log_time &lt;= #{endTime}
            AND trust_type = 0 AND install_app_ids != '' AND did_type != 0
            LIMIT 1 BY media_id, did_type, did
        )
        group by did_type,did
    </insert>

    <select id="pageDeviceInstallAppInfo" parameterType="java.util.Map"
            resultType="com.adanxing.ad.user.model.DeviceInstallAppModel">
        select log_time,did_type,did,trust_install_app_ids,default_install_app_ids
        from device.device_install_app_minute_all
        where log_time &gt;= #{startTime} and log_time &lt;= #{endTime}
        <if test="startDid != null">
            and did > #{startDid}
        </if>
        <if test="pageSize != null">
            order by did asc limit ${pageSize}
        </if>
    </select>

    <delete id="deleteDeviceInstallAppInfo">
        truncate table device.device_install_app_minute_all
    </delete>

</mapper>